* {
  text-align: center;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

h1 {
  color: blue;
}

.shelving {
  background-color: black;
  // margin-left: 5%;
  height: 5%;
  width: 100%;
}

.side-shelving {
  background-color: black;
  position: absolute;
  top:  5%;
  left: 0%;
  height: 90%;
  width: 5%;
}

.side-shelving1 {
  background-color: black;
  position: absolute;
  top:  5%;
  right: 0%;
  height: 90%;
  width: 5%;
}

.shelf {
  display: flex;
  margin: 0 5%;
}

.book-spine {
  text-align: center;
  border-style: solid;
  margin: 10px;
  width: 30px;
}

.book-text {
  transform: rotate(90deg);
}